/* Styles for webpage */
html,body {
	font-family: 'Roboto Sans','Open Sans';
	font-size:18px;
	color: #DDD0C8;
	overflow-x: hidden;
}
body, section{
	background-color: #1d1d1d;
}
hr {
	margin-top: 5rem;
	border: 1;
	color: white;
  }
/* Header Styles for each page */
.about_text, .portfolio_text, .blog_text, .contact_text {
	padding: 50px 0px 10px 0px;
}

/* Navbar styles */
.navbar {
	background-color: #1d1d1d;
}
.navbar-nav .nav-link {
	font-family: 'Open Sans';
	font-size: 18px;
	color: #DDD0C8;
}
.navbar-brand {
	font-family: 'Open Sans';
	color: #DDD0C8;
	position: absolute;
	left: 1%
}
.navbar-brand:link {
	color: #DDD0C8;
}
.navbar-brand:visited{
	color: #DDD0C8;
}
.navbar-brand:hover{
	color: #F5F5F5;
}
.navbar-nav {
	margin-left: auto;
}
.navbar-nav .nav-item {
	margin-right: 15px;
}
.navbar-nav .nav-link:hover{
	color: #F5F5F5;
	/* Navbar link color on hover */
}
.navbar li::marker {
	content: "🖱️";
}
.navbar li {
	padding-right: 25px;
}
/* Hero image styles */
#home {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	overflow-x: hidden;
	margin: auto;
}
.hero {
	height:100vh;
	background: url('/images/imagebg-hero.jpg');
	background-size:cover;
	position:relative;
}
/* text css above hero image*/
.hero_title {
	font-family: 'Roboto Slab';
	font-size: 4.5rem;
}
.hero_desc {
	font-family: 'Roboto Slab';
	font-size: 2rem;
}
.hero-text {
	text-align: center;
	position: relative;
	bottom: 20%;

}
/* Hero link styles */
.hero_link {
	font-family: 'Roboto Slab';
	font-size: 1.5rem;
	text-decoration: none;
}
.hero_link:link {
	color: #DDD0C8;
}
.hero_link:visited{
	color: #DDD0C8;
}
.hero_link:hover{
	color: #F5F5F5;
}
.hero_link:active {
	background: #F8F8FF;
	color: #1d1d1d;
}


#about_container {
	margin: 0 0 0 0;
}
 
.main_heading {
	display: flex;
	justify-content: center;
	margin-top: 50px;
	margin-bottom: 50px;
}
/* About page styling */
.about_img > img {
	width: 450px;
	border-radius: 50px;
}

.about_desc {
	display: flex;
	flex-direction: column;
	position: relative;
	left: 47%;
	font-size: 1.1rem;
	text-align: center;
	
}

.about_desc > p {
	margin-bottom: 25px;

}

#about_desc_heading {
	text-align: center;
	margin-bottom: 50px;
}
/* List styling for about page */
.about_languages {
	display:flex;
	list-style-position: inside;
	position: relative;
	left: 80%;
	margin-top: 150px;
}
.about_languages li::marker {
	content: "👨‍💻";
	color: #F5F5F5;
}
.about_languages li {
	padding-left: 0.5ch;
	font-size: 20px;
	padding: 5px;
}
.languages_list {
	border-right: 1px solid #DDD0C8;
	padding-right: 50px;
	/* Add some space between the border and the list */
}
.frameworks_list {
	padding-left:50px;
	/* Add some space between the border and the list */
}
/* Portfolio page styling */

#portfolio_carousel {
	left: 38%;
}

.carousel-inner {
	max-width: 25%;
	overflow: hidden;
}
.carousel-indicators {
    bottom: -50px;
	right: auto;
	left: -100px;
}
.carousel-indicators li {
    width: 10px;
	height: 10px;
	border-radius: 100%;
}
.carousel-tem img {
	max-width: 100%;
	height: auto;
}
/* Contact page styling */
#contact {
	display: flex;
	flex-direction: column;
    padding: 20px;
    border-radius: 10px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}
.form-group {
    margin-bottom: 15px;
}

.form-control {
    border-radius: 5px; 
    border: 1px solid #ced4da; 
    padding: 10px;
}
label {
    font-weight: bold; 
}

.button {
    background-color: #007bff; 
    color: #fff; 
    border: none; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}
.button:hover {
	color: #F5F5F5;
}
