/* Styles for webpage */
* { 
    box-sizing: border-box ;
    scroll-behavior: smooth;

html {
    font-family: 'Roboto Sans','Open Sans';
    font-size:18px;
}
    
}
body, section {
    background-color: #1d1d1d; 
}

/* Header Styles for each page */

.about_text, .portfolio_text, .blog_text, .contact_text {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: #DDD0C8;
    padding: 50px 0px 50px 0px;
}

/* Navbar styles */
.navbar {
    background-color: #1d1d1d;

}

.navbar-nav .nav-link {
    font-family: 'Open Sans';
    font-size: 18px;
    color: #DDD0C8;
}
.navbar-brand {
    font-family: 'Open Sans';
    color: #DDD0C8;
    position: absolute;
    left: 1%
}

.navbar-brand:link {
    color: #DDD0C8;
}

.navbar-brand:visited{
    color: #DDD0C8;
}

.navbar-brand:hover{
    color: whitesmoke;
}

.navbar-nav {
    margin-left: auto;
}

.navbar-nav .nav-item {
    margin-right: 15px;
}

.navbar-nav .nav-link:hover{
    color: whitesmoke; /* Navbar link color on hover */
}

.navbar li::marker {
    content: "🖱️";
}

.navbar li {
    padding-right: 25px;
}
/* Hero image styles */
.hero {
    height:100vh;
    background: url('/images/imagebg-hero.jpg');
    background-size:cover;
    position:relative;
}
/* text css above hero image*/
.hero_title {
    font-family: 'Roboto Slab';
    font-size: 6rem;
}
.hero_desc {
    font-family: 'Roboto Slab';
    font-size: 2.5rem;
}
.hero-text {
    text-align: center;
    position: relative;
    top: 20%;
    color:#DDD0C8
}

/* Hero link styles */
.hero_link {
    font-family: 'Roboto Slab';
    font-size: 1.5rem;
    text-decoration: none;
}
.hero_link:link {
    color: #DDD0C8;
}

.hero_link:visited{
    color: #DDD0C8;
}

.hero_link:hover{
    color: whitesmoke;
}

.hero_link:active {
    background: #F8F8FF;
    color: #1d1d1d;
}

/* About page styling */
#about {
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto Sans';
}

.about_content {
    display:flex;
    flex-direction: column;
}

.about_img_desc {
    display: flex;
    flex-direction: row;
}

.about_img > img {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 400px;
    flex-shrink: 0;
    padding: 10px;
    border-radius: 100px;
}
.about_desc > p {
    color:#DDD0C8;
    font-size: 24px;
    padding: 150px;
}

/* List styling for about page */
.about_languages {
    color: #DDD0C8;
    display:flex;
    justify-content: center;
    list-style-position: inside;
    padding: 50px 0 50px 0;
    
}

.about_languages li::marker {
    content: "👨‍💻";
    color:whitesmoke;
}

.about_languages li {
    padding-left: 0.5ch;
    font-size: 20px;
    padding: 5px;

}
.languages_list {
    border-right: 1px solid #DDD0C8; 
    padding-right: 50px; /* Add some space between the border and the list */
}

.frameworks_list {
    padding-left:50px; /* Add some space between the border and the list */
}
 /* Portfolio page styling */

 #portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
 }

 .portfolio_text h1{
    margin-bottom: 10px;
    
 }
 .portfolio_grid {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 50px;
    margin: 0 auto;
    grid-gap: 100px;
    
  }
  .grid-item {
    background-color: #DDD0C8; 
    border: 1px solid rgba(0, 0, 0, 1);
    padding: 20px;
    font-size: 24px;
    text-align: center;
    width: 400px;
    height: auto;
   
  }

  .grid_img > img {
    height: auto;
    object-fit: contain;
    max-width: 100%;
    padding: 20px;
  }

/* Blog page styling */

#blog {
    display: flex;
    flex-direction: column;
}
/* Contact page styling */

#contact {
    display: flex;
    flex-direction: column;
}

.contact_text h1{
    margin-bottom: 10px;
}
.form-group {
    margin: 0 10% 0 10%;
}

.form-control {
    width: 100%;
    border: 0;
    padding-left: 1rem;
    margin-bottom: 1rem;
}

label {
    margin-top: 15px;
    font-family: 'Roboto Slab';
    font-size: 22px;
    color: #DDD0C8;
}

.button {  
    margin-top: 15px;
    background-color: #1d1d1d;
    color: #DDD0C8;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 4px rgb(0,0,0);
    padding: 10px;
    width: 100%;

}

.button:hover {
    color: whitesmoke;
}
